<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros Prestados Actualmente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>📚 Datos de Bibliotecarios Activos con sus Préstamos</h1>
        <a href="{{ url_for('consultas') }}">🔙 Volver a Consultas</a>
        <table>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Titulo</th>
                <th>Fecha prestamo</th>
                <th>Estado</th>


            </tr>
            {% for biblio in bibliotecario %}
            <tr>
                <td>{{ biblio.nombres }}</td>
                <td>{{ biblio.apellidos }}</td>
                <td>{{ biblio.titulo }}</td>
                <td>{{ biblio.fecha_Prestamo }}</td>
                <td>{{ biblio.estado }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>