<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas Especiales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>🔍 Consultas Especiales Proyecto Final</h1>
        <a href="{{ url_for('index') }}">🏠 Volver al Inicio</a>
        <ul class="menu">
            <li><a href="{{ url_for('libros_prestados_actuales') }}">📚 Libros Prestados Actualmente</a></li>
            <li><a href="{{ url_for('usuarios_multas_pendientes') }}">💰 Usuarios con Multas Pendientes</a></li>
            <li><a href="{{ url_for('libros_mas_solicitados') }}">📊 Libros Más Solicitados</a></li>
            <li><a href="{{ url_for('prestamos_vencidos') }}">⏳ Préstamos Vencidos</a></li>
        </ul>
    </div>
</body>

<body>
    <div class="container">
        <h1>🔍 Consultas Especiales Practicas  Preprofesionales</h1>
        
        <ul class="menu">
            <li><a href="{{ url_for('bibliotecario_con_Prestamos') }}">📚 Datos de Bibliotecarios Activos con sus Préstamos</a></li>
            <li><a href="{{ url_for('librosEditorial_con_Autor') }}">📊 Libros de Editorial Específica con Autor</a></li>
            <li><a href="{{ url_for('usuariosConLibrosPrestados') }}">⏳ Usuarios con Préstamos y sus Libros</a></li>
            <li><a href="{{ url_for('detallesMultasPendientes') }}">💰 Multas con Detalles de Usuario y Fecha</a></li>
        </ul>
    </div>
</body>
</html>