<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros Prestados Actualmente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>📊 Libros de Editorial Específica con Autor</h1>
        <a href="{{ url_for('consultas') }}">🔙 Volver a Consultas</a>
        <table>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Año publicacion</th>

            </tr>
            {% for editorial in editorial %}
            <tr>
                <td>{{ editorial.titulo }}</td>
                <td>{{ editorial.autor }}</td>
                <td>{{ editorial.editorial }}</td>
                <td>{{ editorial.anio_publicacion }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>