<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros Prestados Actualmente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>📊 Usuarios con Préstamos y sus Libros</h1>
        <a href="{{ url_for('consultas') }}">🔙 Volver a Consultas</a>
        <table>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Titulo</th>
                <th>Fecha Prestamo</th>

            </tr>
            {% for prestado in prestado %}
            <tr>
                <td>{{ prestado.nombres }}</td>
                <td>{{ prestado.apellidos }}</td>
                <td>{{ prestado.titulo }}</td>
                <td>{{ prestado.fecha_Prestamo}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>